$green: #96BE3C;
$dark-green: #235001;
$gray: #5a5a5a ;
$orange: #F44708;
$darkGray: #564946;

$large-screen-width: 2000px;
$medium-screen-width: 1000px;


body {
  color: white;
  overflow-x: hidden;

  //todo: fit background
  background: url('img/bcg.svg') top no-repeat , url('img/bcg 2.svg') bottom no-repeat;
  background-size: cover;
}

.hero-section {

  position: relative;

  h1 {
    font-weight: bold;
    color: #fff;
    margin-top: 5vw;
    margin-bottom: -16vw;

    @media screen and (min-width: $large-screen-width) {
      margin-bottom: -200px;
      margin-top: 0;
    }

    // ===== Fluid typography pattern =====
    // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    // Check -> https://css-tricks.com/snippets/css/fluid-typography/

    font-size: calc(16px + 24 * ((100vw - 320px) / 680));

    @media screen and (min-width: $medium-screen-width) {
      font-size: 40px;
    }

    span {
      font-size: calc(40px + 60 * ((100vw - 320px) / 680));

      @media screen and (min-width: $medium-screen-width) {
        font-size: 100px;
      }

      line-height: 130%;
    }
  }

  img {
    width: 100vw;
    max-width: 100vw;
    margin: 0 calc(-50vw + 50%);
    @media screen and (min-width: $large-screen-width) {
      margin: initial;
      width: 100%;
    }
  }

  .check-how-we-do-it {
    position: absolute;
    //bottom: 30px;

    //bottom: 2vw;
    bottom: calc(2vw - 4px);
    @media screen and (min-width: $large-screen-width) {
      bottom: 5px;
      left: 15px;
    }

      .ball {
      background: linear-gradient(263.02deg, #F44708 37.26%, #BB0000 100.28%);
      width: calc(40px + 2vw);
      height: calc(40px + 2vw);
      display: flex;
      justify-content: center;

      @media screen and (min-width: $large-screen-width) {
        width: 80px;
        height: 80px;
      }

      a {
        line-height: calc(40px + 2vw);
        @media screen and (min-width: $large-screen-width) {
          line-height: 80px;
        }
      }
    }
  }
}

.what-we-created-section {

  h2 {
    color: $gray;
    font-weight: bold;
    margin-bottom: -6vw;
    line-height: 200%;
    font-size: calc(24px + 16 * ((100vw - 320px) / 680));

    @media screen and (min-width: $medium-screen-width) {
      margin-bottom: -60px;
      font-size: 40px;
    }

    span {
      color: #fff;
      font-weight: 900;
      line-height: 8vw;
      font-size: calc(60px + 120 * ((100vw - 320px) / 680));

      @media screen and (min-width: $medium-screen-width) {
        font-size: 180px;
      }
    }
  }

  .slideshow {
    border: 2px solid;
    border-image-source: linear-gradient(102.08deg, rgba(255, 255, 255, 0.3) 1.03%, rgba(255, 255, 255, 0.12) 98.85%);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px); // todo: firefox, IE support?
    border-radius: 15px;
    position: relative;

    h3 {
      font-size: calc(44px + 20 * ((100vw - 320px) / 680));
      position: relative;
      padding-bottom: 1vw;
      @media screen and (min-width: $medium-screen-width) {
        font-size: 64px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 15%;
        bottom: 0;
        right: 0;
        border-bottom: 4px solid $orange;
      }
    }

    a {
      color: $darkGray;
      font-size: 28px;
    }

    img {
      position: relative;
      top: 0;
      left: -7vw;

        @media screen and (min-width: $medium-screen-width) {
          position: absolute;
        }
        @media screen and (min-width: 1400px) {
          top: -2vw;
        }
        @media screen and (min-width: $large-screen-width) {
          left: -130px;
          top: -20px;
        }
      }

    //.slider-text {
    //  background: rgb(90 90 90 / 77%);
    //
    //  @media screen and (min-width: $medium-screen-width) {
    //    background: none;
    //  }
    //}
  }


  .uk-slidenav-container {
    bottom: -27px;
    right: 30px;

    span {
      background: linear-gradient(180deg, #F44708 37.26%, #BB0000 100.28%);
      &.prev {
        background: linear-gradient(0deg, #F44708 37.26%, #BB0000 100.28%);
      }
    }

    a {
      color: white;
      svg {
        position: absolute;
        top: 27%;
        left: 38%;
      }
    }
  }
}

.what-can-we-design-section {
  h2 {
    color: $gray;
    font-weight: bold;
    font-size: calc(24px + 16 * ((100vw - 320px) / 680));
    @media screen and (min-width: $medium-screen-width) {
      font-size: 40px;
    }

    span {
      color: #fff;
      font-weight: 900;
      font-size: calc(40px + 60 * ((100vw - 320px) / 680));

      @media screen and (min-width: $medium-screen-width) {
        font-size: 100px;
      }
    }
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: white;
  }
}

.trusted-us-section {
  h2 {
    color: #fff;
    font-weight: 900;
    line-height: 8vw;
    // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

    font-size: calc(40px + 140 * ((100vw - 320px) / 1480));
    margin-bottom: calc(-15px - 1.7vw);

    @media screen and (min-width: 1800px) {
      font-size: 180px;
      //margin-bottom: -45px;
    }
  }
  .block {
    background: linear-gradient(132.82deg, rgba(255, 255, 255, 0.18) 1.6%, rgba(255, 255, 255, 0.12) 53.49%, rgba(255, 255, 255, 0.06) 97.44%);
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .3);
    height: 150px;
    width: 150px;
    margin: 25px;
    backdrop-filter: blur(10px); // todo: firefox, IE support?
    //border-image-source: linear-gradient(226.84deg, #FFFFFF 4.54%, rgba(255, 255, 255, 0.2) 61.74%);
    //height: 150px;
    //width: 150px;

    &:hover {
      .color {
        display: block;
      }
      .placeholder {
        display: none;
      }
    }

    .color {
      display: none;
    }
  }
}

.contact-us-section {

  h2 {
    color: $gray;
    font-weight: bold;
    font-size: calc(24px + 16 * ((100vw - 320px) / 680));

    @media screen and (min-width: $medium-screen-width) {
      font-size: 40px;
    }

    span {
      color: #fff;
      font-weight: 900;
      font-size: calc(40px + 50 * ((100vw - 320px) / 680));
      line-height: 100%;

      @media screen and (min-width: $medium-screen-width) {
        font-size: 90px;
      }
    }
  }


  .invalid-feedback {
    font-size: 12px;
    color: $dark-green;
    padding-left: 20px;
  }

  .uk-position-relative {

    input, textarea {
      color: $dark-green;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      backdrop-filter: blur(25px);
      border-radius: 10px;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &:focus, &:not(:placeholder-shown) {
        padding-top: 15px;

        & + label {
          color: $orange;
          opacity: .65;
          transform: scale(.85) translateY(-.5rem) translateX(.15rem);
          font-weight: 300;
          font-size: 12px;
        }
      }

      &:focus, &:active {
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 70px rgba(255, 255, 255, 0.9);
      }

      &.is-invalid {

        border: 2px solid #E91400;
        padding-right: calc(1.5em + .75rem);
        background-image: url('img/icons/form-error-icon.svg');
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);

        & + label {
          color: $dark-green;
        }
      }
    }

    label {
      position: absolute;
      top: 0;
      left: 10px;
      height: 100%;
      padding: 16px;
      pointer-events: none;
      border: 1px solid transparent;
      transform-origin: 0 0;
      transition: opacity .1s ease-in-out, transform .1s ease-in-out;
      color: #fff;
    }
  }

  input[type="checkbox"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;

    &:checked {
      background-color: transparent;
    }

    & + label {
      font-size: 12px;
      margin-top: -6px;
    }
  }

  button {
    background: linear-gradient(263.02deg, #F44708 37.26%, #BB0000 100.28%);
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 16px;
    backdrop-filter: blur(25px);
  }
}

footer {
  border-top: 3px solid #fff;
}
.ball {
box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.25);
width: 60px;
height: 60px;
border-radius: 50%;
position: relative;
}
// ==== UIkit overrides ====
.uk-slider-container, .uk-slideshow-items, .uk-slideshow-items>* {
overflow: visible;
}

.uk-cover {
left: 22%;
}

a:hover {
color: rgba(255, 255, 255, .7)
}

